%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%% This is a sample rebar.conf file that shows examples of some of rebar's
%% options.

%% == Core ==

%% Additional library directories to add to the code path
{lib_dirs, []}.

%% == Erlang Compiler ==

%% Erlang compiler options
{erl_first_files, ["dispcount"]}.
{erl_opts, [debug_info, {i, "include"}]}.

{cover_export_enabled, true}.
{cover_enabled, true}.

{plugins, [rebar3_proper]}.
%% The PropEr dependency is required to compile the test cases
%% and will be used to run the tests as well.
{profiles,
 [{test, [
          {deps, [
                  %% hex
                  {proper, "1.3.0"}
                 ]}
         ]}
 ]}.
