%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%% This is a sample rebar.conf file that shows examples of some of rebar's
%% options.

%% == Core ==

%% Additional library directories to add to the code path
{lib_dirs, []}.

%% == Erlang Compiler ==

%% Erlang compiler options
{erl_first_files, ["dispcount"]}.
{erl_opts, [debug_info, {i, "include"}, {d,'DEBUG'}]}.

%% == Common Test ==

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-boot start_sasl -pa ebin/"}.

%% == Dependencies ==

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

%% What dependencies we have, dependencies can be of 3 forms, an application
%% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
%% an application name, a version and the SCM details on how to fetch it (SCM
%% type, location and revision). Rebar currently supports git, hg, bzr and svn.
{deps, [
 {proper, "1.0", {git, "https://github.com/manopapad/proper.git", "master"}},
 {meck, "0.7.1", {git, "https://github.com/eproxus/meck.git", "master"}}
]}.
